<%= form_for(@acceptance) do |f| %>
  <% if @acceptance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acceptance.errors.count, "error") %> prohibited this acceptance from being saved:</h2>

      <ul>
      <% @acceptance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <% unless @acceptance.new_record? %>
    <div class="field">
      <%= f.label '状态' %>
      <%= f.label status(@acceptance.status) %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label '金额' %>
    <%= f.text_field :money %>
  </div>
  <div class="field">
    <%= f.label '银行' %>
    <%= f.text_field :bank %>
  </div>
  <div class="field">
    <%= f.label '到期时间' %>
    <%= f.date_select :expire %>
  </div>
  <div class="field">
    <%= f.label '单位' %>
    <%= f.text_field :unit %>
  </div>
<% end %>
