<%= form_for(@acceptance) do |f| %>
  <% if @acceptance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acceptance.errors.count, "error") %> prohibited this acceptance from being saved:</h2>

      <ul>
      <% @acceptance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @acceptance.new_record? %>
    <div class="field">
      <%= f.label '状态' %>
      <%= f.label status(@acceptance.status) %>
    </div>
  <% end %>
<<<<<<< HEAD

=======
  <div class="field">
    <%= f.label '金额' %>
    <%= f.text_field :money %>
  </div>
>>>>>>> 52e895809e1fa20ec8e303d95a8774b418fd75cb
  <div class="field">
    <%= f.label '银行' %>
    <%= f.text_field :bank %>
  </div>
  <div class="field">
    <%= f.label '到期时间' %>
    <%= f.date_select :expire ,{},:style=>'width:70px'%>
  </div>
  <div class="field">
<<<<<<< HEAD
    <%= f.label '票号' %>
    <%= f.text_field :number %>
  </div>

  <% unless params[:hassubmit] == "no" %>
    <div class="actions">
    <%= f.submit '提交修改' ,:class=>'btn btn-success' %>
    </div>
  <% end %>
=======
    <%= f.label '单位' %>
    <%= f.text_field :unit %>
  </div>
>>>>>>> 52e895809e1fa20ec8e303d95a8774b418fd75cb
<% end %>

