<p id="notice"><%= notice %></p>

<p>
  <b>金额:</b>
  <%= @acceptance.money %>
</p>

<p>
  <b>银行:</b>
  <%= @acceptance.bank %>
</p>

<p>
  <b>到期时间:</b>
  <%= @acceptance.expire %>
</p>

<p>
  <b>状态:</b>
  <%= status @acceptance.status %>
</p>
<p>
  <b>单位:</b>
  <%= @acceptance.unit %>
</p>

