<% content_for :table_title do %>
  信息列表
<% end %>
<script type="text/javascript">
$(document).ready(function(){
  $.current_page=0;
  $.ajaxSetTable("/messages/archive/0");
  $('#table_new_row').attr('href','/messages/new');

  $("#control").click(function(e){
    var e=e||window.event;
    var obj=e.target||e.srcElement;
    var item=$(obj);
    if  ( item.is('img') )
    {
      if (item.hasClass('next') && $.current_page<$.all_pages-1){
        $.current_page+=1;
        $.ajaxSetTable('/messages/archive/'+$.current_page);
      }
      else if (item.hasClass('prev') && $.current_page!=0 ){ 
        $.current_page-=1;
        $.ajaxSetTable('/messages/archive/'+$.current_page);
      }
    }

  });


});
</script>

<table id ="_main" width="99%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#c0de98" >
  <thead>
    <tr>
      <td width="6%" height="26" background="<%= asset_path("tab/images/tab_14.gif") %>" class="STYLE1"><div align="center" class=" STYLE1">选择</div></th>
      <td width="8%" height="18" background="<%= asset_path("tab/images/tab_14.gif") %>" class="STYLE1"><div align="center" class=" STYLE1">状态</div></th>
      <td width="16%" height="18" background="<%= asset_path("tab/images/tab_14.gif") %>" class="STYLE1"><div align="center" class=" STYLE1">发件人</div></th>
      <td width="26%" height="18" background="<%= asset_path("tab/images/tab_14.gif") %>" class="STYLE1"><div align="center" class=" STYLE1">主题</div></th>
      <td width="20%" height="18" background="<%= asset_path("tab/images/tab_14.gif") %>" class="STYLE1"><div align="center" class=" STYLE1">时间</div></th>
      <td width="7%" height="18" background="<%= asset_path("tab/images/tab_14.gif") %>" class="STYLE1"><div align="center" class="STYLE2">编辑</div></th>
      <td width="7%" height="18" background="<%= asset_path("tab/images/tab_14.gif") %>" class="STYLE1"><div align="center" class="STYLE2">删除</div></th>
    </tr>
  </thead>
</table>

