<%= javascript_include_tag "application" %>
<% f=@conversation.first %>
<div class="topic">
  <%= f.topic %>
</div>
<br />

<div id="content">
  <%= render :partial => "message", :collection => @conversation %>
</div>

<%= form_tag("/messages/reply", :method => "post") do %>
  <%= hidden_field_tag "conversation" , f.id %> 
  <%= hidden_field_tag "message[topic]", "Re: #{f.topic}" %> 
  <div>
    <%= text_area_tag "message[body]" %> 
  </div>

  <%= submit_tag("发送") %>
<% end %>

<style type="text/css" media="screen">
  .message {
border-top: 1px solid #DDD;
padding: 8px 10px;
margin: 0 -10px;
}
  .info {
font-size: 12px;
color: #BBB;
}
</style>
<script language="javascript" type="text/javascript">
  $(document).ready(function(){
    $("input[type=submit]").click(function(){
      $.post("/messages/reply",$("form").serialize(),function(result){
        $("#content").append(result);
      });
      $("#message_body").val("");
      return false;
    });
  });
</script>
