<p id="notice"><%= notice %></p>

<p>
  <b>内容:</b>
  <%= @announcement.content %>
</p>

<p>
  <b>用户:</b>
  <%= @announcement.user.username %>
</p>


<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %>
