<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label '主题' %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label '内容' %>
    <%= f.text_area :content ,:size => "20x5" %>
  </div>
  <div class="actions">
    <%= f.submit '保存'  ,:class=>'btn btn-success' %>
  </div>
<% end %>
