<p id="notice"><%= notice %></p>

<p>
  <b>金额:</b>
  <%= @unpaid_debt.money %>
</p>

<p>
  <b>说明:</b>
  <%= @unpaid_debt.caption %>
</p>

<p>
  <b>状态:</b>
  <%= debts_status @unpaid_debt.status %>
</p>


<%= link_to 'Edit', edit_unpaid_debt_path(@unpaid_debt) %> |
<%= link_to 'Back', unpaid_debts_path %>
