<%= javascript_include_tag "application" %>
<%= javascript_include_tag "groups" %>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag "application"%>
<table id ="groups"  class="display" data-source="<%= groups_url(format: "json") %>" >
  <thead>
    <tr>
      <th>ID</th>
      <th>机构名称</th>
      <th>创建时间</th>
      <th>编辑</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
