<h2>添加用户</h2>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>发生<%= @user.errors.count %>条错误</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@user) do |f| %>
  <div>
    <% for g in Group.all %>
      <label>
      <input type="checkbox" name="user[group_ids][]" value="<%= g.id %>"/>
      <%= g.name %>
      </label>
    <% end %>
  </div>
  <br />

  <div><%= f.label :用户名 %>
  <%= f.text_field :username %></div>

  <div><%= f.label :姓名 %>
  <%= f.text_field :name %></div>

  <div><%= f.label :密码 %>
  <%= f.password_field :password %></div>

  <div><%= f.label :密码确认 %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "添加" %></div>
<% end %>
