<table class="table show_table table-bordered">
  <tr>
    <td>客户名称</td>
    <td><%= @client.name %></td>
  </tr>
  <tr>
    <td>联系人</td>
    <td><%= @client.contact_person %></td>
  </tr>
  <tr>
    <td>联系方式</td>
    <td><%= @client.contact %></td>
  </tr>
  <tr>
    <td>货物</td>
    <td><%= @client.goods %></td>
  </tr>
  <tr>
    <td>地址</td>
    <td><%= @client.address %></td>
  </tr>
</table>
<%= link_to '编辑', edit_client_path(@client) %> |
<%= link_to '返回', clients_path %>
