<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <%= stylesheet_link_tag "tree.css" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center" valign="top" bgcolor="#f1fde3">
          <table width="150" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td height="8"></td>
            </tr>
          </table>
              
          <% def index() $i||=0;$i+=1 end %>

          <%= render "tree_item", { :item => [index,'办公桌' ,{'发送信件'=>'/messages/new'},{'查看信件'=>'/messages'} ] } %>

          <%= render "tree_item", { :item => [index,'供销部' ,{'供应商'=>'/suppliers'},
            {'销售合同'=>'/sales_contracts'},
            {'供应合同'=>'/supl_contracts' }] } if can? :manage ,Supplier %>

          <%= render "tree_item", { :item => [index,'财务部' ,{'帐号'=>'/bank_accounts','承兑'=>'/acceptances'},
              {'挂帐'=>'/unpaid_debts','报销'=>'/reimbursements'}, 
              {'收入'=>'/in_comes','支出'=>'/expenditures','转帐'=>'/transfers'}, 
              {'考勤管理'=>'/attendances'}] } if can? :manage ,InCome %>

          <%= render "tree_item", { :item => [index,'库房' ,{'入库'=>'/in_stores'},
              '出库'=>'/out_stores'] } if can? :manage ,InStore %>

          <%= render "tree_item", { :item => [index,'车间' ,{'任务'=>'/tasks'},
              '送货'=>'/deliveries'] } if can? :manage ,Task%>

          <% attr = [index,'组织管理'] %>
          <% attr.append('机构管理' => '/groups') if can? :read , Group %>
          <% attr.append('人员管理' => '/users') if can? :read , User %>
          <% unless attr.length==2 %>
            <%= render :partial => "tree_item", :locals => { :item => attr } %>
          <% end %>
          
          <% if can? :update ,Group %>
            <% attr = [index,'权限管理'] %>
            <% Group.all.map{|g| attr.append(g.name=>"/groups/#{g.id}/edit")} %>
            <%= render :partial => "tree_item", :locals => { :item => attr } %>
          <% end %>

          <table width="150"  border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td height="6"></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <script language="javascript"> 
      function table_display(tab_id,img_id){
        var tab=document.getElementById(tab_id);
        var img=document.getElementById(img_id);

        var on_img="<%= asset_path("main/left_open.gif") %>";
        var off_img="<%= asset_path("main/left_dot.gif") %>";
        if (tab.style.display == "none") {
          tab.style.display="";
          img.src=on_img;
        }
        else{
          tab.style.display="none";
          img.src=off_img;}
      }; 
      window.onload=function(){
          document.getElementById('tab<%= $i-1 %>').style.display="none";
          document.getElementById('tab<%= $i %>').style.display="none";
      };
      $(function(){
        $("a.blueu").click(function(){
          $('a.current').removeClass("current").addClass('blueu');
          $(this).removeClass('blueu').addClass('current');

        })
      }
      )
    </script>
  </body>
</html>
