<p id="notice"><%= notice %></p>

<p>
  <b>银行:</b>
  <%= @bank_account.bankname %>
</p>

<p>
  <b>帐户名:</b>
  <%= @bank_account.accountname %>
</p>

<p>
  <b>余额:</b>
  <%= @bank_account.over %>
</p>


<%= link_to '编辑', edit_bank_account_path(@bank_account) %> |
<%= link_to '返回', bank_accounts_path %>
