<table class='show_table table table-bordered'>
  <tr>
    <td>银行</td>
    <td><%= @bank_account.bankname %></td>
  </tr>
  <tr>
    <td>帐户名</td>
    <td><%= @bank_account.accountname %></td>
  </tr>
  <tr>
    <td>余额</td>
    <td><%= @bank_account.over %></td>
  </tr>
</table>

<%= link_to '编辑', edit_bank_account_path(@bank_account) %> |
<%= link_to '返回', bank_accounts_path %>
