<% if @expenditure.mode==1 %><p>
  <table class="table table-bordered show_table">
    <tr>
      <td>金额</td>
      <td><%= @expenditure.money %></td>
    </tr>
    <tr>
      <td>帐号</td>
      <td><%= link_to @expenditure.bank_account.name,bank_account_path(@expenditure.bank_account) %></td>
    </tr>
  </table>
<% elsif @expenditure.mode==0 %>
  <table class="table table-bordered show_table">
    <tr>
      <td>金额</td>
      <td><%= @expenditure.money %></td>
    </tr>
<<<<<<< HEAD
=======
    <tr>
      <td>支付人</td>
      <td><%= @expenditure.payer %></td>
    </tr>
>>>>>>> 52e895809e1fa20ec8e303d95a8774b418fd75cb
  </table>
<% elsif @expenditure.mode==2 %>
  <div id='acceptance'></div>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">
    $(function(){
      $("#acceptance").load('<%= "/acceptances/#{@expenditure.acceptance.id}" %>');
    })
  </script>
<% end %>
<<<<<<< HEAD
  <table class="table table-bordered show_table">
      <td>付款单位</td>
      <td><%= @expenditure.payto %></td>
    </tr>
  </table>
=======
>>>>>>> 52e895809e1fa20ec8e303d95a8774b418fd75cb

<%= link_to '编辑', edit_expenditure_path(@expenditure) %> |
<%= link_to '返回', expenditures_path %>
