<p id="notice"><%= notice %></p>
<% if @expenditure.mode==1 %><p>
  <p>
  <b>金额:</b>
  <%= @expenditure.money %>
  </p>
  <p>
  <b>帐号:</b>
  <%= @expenditure.bank_account.name %>
  </p>

<% elsif @expenditure.mode==0 %>
  <p>
  <b>金额:</b>
  <%= @expenditure.money %>
  </p>
  <p>
  <b>支付人:</b>
  <%= @expenditure.payer %>
  </p>
<% elsif @expenditure.mode==2 %>
  <div id='acceptance'></div>
<%= javascript_include_tag "application" %>
<script type="text/javascript">
    $(function(){
            $("#acceptance").load('<%= "/acceptances/#{@expenditure.acceptance.id}" %>');
            })
</script>
<% end %>

<%= link_to 'Edit', edit_expenditure_path(@expenditure) %> |
<%= link_to 'Back', expenditures_path %>
