<% @uploads_dict.each do |day,uploads| %>
  
  <tr>
    <td colspan="7"><%= day %></td>
  </tr>
  
  <% uploads.each do |u| %>
    <tr class="repeat" align="center">
      <td height="18" bgcolor="#FFFFFF">
        <div align="center" class="STYLE1">
          <input name="checkbox" type="checkbox" class="STYLE2" value="checkbox">
        </div>
      </td>
      <td height="18" bgcolor="#FFFFFF" class="STYLE2">
        <span align="center" display:block;line-height:100%;="" class="STYLE2 STYLE1"><%= u.id %></span>
      </td>
      <td height="18" bgcolor="#FFFFFF">
        <span align="center" display:block;line-height:100%;="" class="STYLE2 STYLE1"><%= u.user.groups.map{|g| g.name}.join('/') %></span>
      </td>
      <td height="18" bgcolor="#FFFFFF">
        <span align="center" display:block;line-height:100%;="" class="STYLE2 STYLE1"><%= u.user.username %></span>
      </td>
      <td height="18" bgcolor="#FFFFFF" align="center">
        <span display:block;line-height:100%;="" class="STYLE2 STYLE1"><%= u.created_at %></span>
      </td>
      <td height="18" bgcolor="#FFFFFF">
        <div align="center" class="STYLE1">
          <img src="/assets/tab/images/037.gif" width="9" height="9">[<a href='<%= u.picture.url.to_s %>' rel="lightbox[<%= day %>]">查看</a>]
        </div>
      </td>
      <td height="18" bgcolor="#FFFFFF">
        <div align="center" class="STYLE1">
          <img src="/assets/tab/images/010.gif" width="9" height="9">[<a href="#" id="del">删除</a>]
        </div>
      </td>
    </tr>
  <% end %>
<% end %>
<script type="text/javascript">
  $.all_record= <%= @count %> ;
</script>

