<p id="notice"><%= notice %></p>

<p>
  <b>金额:</b>
  <%= @reimbursement.money %>
</p>

<p>
  <b>说明:</b>
  <%= @reimbursement.caption %>
</p>

<p>
  <b>状态:</b>
  <%=debts_status @reimbursement.status %>
</p>


<%= link_to 'Edit', edit_reimbursement_path(@reimbursement) %> |
<%= link_to '返回', reimbursements_path %>
