<p>
  <b>供应商名称:</b>
  <%= @supplier.name %>
</p>
<p>
  <b>货物:</b>
  <%= @supplier.goods %>
</p>
<p>
  <b>联系方式:</b>
  <%= @supplier.contact %>
</p>
<p>
  <b>地址:</b>
  <%= @supplier.address %>
</p>

<%= link_to '编辑', edit_supplier_path(@supplier) %> |
<%= link_to '返回', suppliers_path %>
