<table class="table show_table table-bordered">
  <tr>
    <td>供应商名称</td>
    <td><%= @supplier.name %></td>
  </tr>
  <tr>
    <td>联系人</td>
    <td><%= @supplier.contact_person %></td>
  </tr>
  <tr>
    <td>联系方式</td>
    <td><%= @supplier.contact %></td>
  </tr>
  <tr>
    <td>货物</td>
    <td><%= @supplier.goods %></td>
  </tr>
  <tr>
    <td>地址</td>
    <td><%= @supplier.address %></td>
  </tr>
</table>
<%= link_to '编辑', edit_supplier_path(@supplier) %> |
<%= link_to '返回', suppliers_path %>
