<% @supl_contracts.each do |s| %>
  <tr class="repeat" align="center">
    <td height="18" bgcolor="#FFFFFF">
      <div align="center" class="STYLE1">
        <input name="checkbox" type="checkbox" class="STYLE2" value="checkbox">
      </div>
    </td>
    <td height="18" bgcolor="#FFFFFF" class="STYLE2">
      <span align="center" display:block;line-height:100%;="" class="STYLE2 STYLE1"><%= s.id %></span>
    </td>
    <td height="18" bgcolor="#FFFFFF">
      <span align="center" display:block;line-height:100%;="" class="STYLE2 STYLE1"><%= s.supplier.name %></span>
    </td>
    <td height="18" bgcolor="#FFFFFF">
      <span align="center" display:block;line-height:100%;="" class="STYLE2 STYLE1"><%=  %></span>
    </td>
    <td height="18" bgcolor="#FFFFFF" align="center">
      <span display:block;line-height:100%;="" class="STYLE2 STYLE1"><%= s.created_at %></span>
    </td>
    <td height="18" bgcolor="#FFFFFF">
      <div align="center" class="STYLE1">
        <img src="/assets/tab/images/037.gif" width="9" height="9">[<a href="/sales/<%= s.id %>/edit" target='I1'>编辑</a>]
      </div>
    </td>
    <td height="18" bgcolor="#FFFFFF">
      <div align="center" class="STYLE1">
        <img src="/assets/tab/images/010.gif" width="9" height="9">[
        <%= link_to '删除', s, method: :delete, data: { confirm: '确定删除 ?' } %>
        ]
      </div>
    </td>
  </tr>
<% end %>
<script type="text/javascript">
  $.all_record= <%= @count %> ;
</script>
