<%= javascript_include_tag "application" %>
<%= javascript_include_tag "supl_contracts" %>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag "application"%>
<table id ="supl_contracts"  class="display" data-source="<%= supl_contracts_url(format: "json") %>" >
  <thead>
    <tr>
      <th>ID</th>
      <th>供应商</th>
      <th>时间</th>
      <th>编辑</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
