    <style type="text/css">
      <!--
      .input1 ,.input3 {
        max-width: 30px;
      }
      .input2 ,.input4 {
        width:95%;
      }
      body {
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
      }
      .STYLE1 {font-size: 12px}
      .STYLE4 {
        font-size: 12px;
        color: #1F4A65;
        font-weight: bold;
      }

      a:link {
        font-size: 12px;
        color: #06482a;
        text-decoration: none;

      }
      a:visited {
        font-size: 12px;
        color: #06482a;
        text-decoration: none;
      }
      a:hover {
        font-size: 12px;
        color: #FF0000;
        text-decoration: underline;
      }
      a:active {
        font-size: 12px;
        color: #FF0000;
        text-decoration: none;
      }
      .STYLE7 {font-size: 12}
      .home ,.next,.prev,.last {cursor:pointer;}
      td[colspan] {font-style:italic}
      -->
    </style>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <script type="text/javascript">
      $(document).ready(function(){
        $.ajaxSetTable=function(url){
          $.get(url, function(data){
            $('#_main>tr').remove();
            $('#_main>thead').after(data);
            $.setMsg($.all_record,$.current_page,10);
          });
        }
        $.setMsg=function(all_record,current_page,records_perpage){
          $.all_pages=all_record/records_perpage;
          $.all_pages=Math.ceil($.all_pages);
          $('#msg').text("共"+all_record+"条纪录，当前第"+($.current_page+1)+"/"+$.all_pages+"页，每页"+records_perpage+"条纪录");
      }
        // ajaxSetTable("/users/0/10");
        // $("#table_new_row").click(function(){
        //   $('<tr class="repeat" align="center"><td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE1"><input name="checkbox" type="checkbox" class="STYLE2" value="checkbox" /></div></td><td height="18" bgcolor="#FFFFFF" class="STYLE2"><span align="center"  display:block;line-height:100%; class="STYLE2 STYLE1">点此修改</span></td><td height="18" bgcolor="#FFFFFF"><span align="center"  display:block;line-height:100%; class="STYLE2 STYLE1">点此修改</span></td><td height="18" bgcolor="#FFFFFF"><span align="center"  display:block;line-height:100%; class="STYLE2 STYLE1">点此修改</span></td><td height="18" bgcolor="#FFFFFF" align="center" ><span display:block;line-height:100%; class="STYLE2 STYLE1">点此修改</span></td><td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE1"><img src="<%= asset_path("tab/images/010.gif") %>" width="9" height="9" />[<a href="#" id="del">删除</a>]</div></td><td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE1"><img src="<%= asset_path("tab/images/037.gif") %>" width="9" height="9" />[<a href="#">保存</a>]</div></td></tr>').insertAfter($("#_main tr:last")); BindEvent();
        // 
        // });
      });
      function BindEvent(){
        $("#_main #del").click(function(){
          $(this).parents(".repeat").remove(); 
        });
        $(function(){
          $("#_main span").one("click",function(){
            var $input=$('<input align="center" type="text" name="text" class="input4" />');
            //       $input.attr("value",$(this).val());
            $(this).html("");
            $(this).append($input);
            $(".input4")[0].focus(function(){
              $(this).val("");
              //  }
            });
            $(".input4").blur(function(){
              var $inputb=$('<span align="center"  display:block;line-height:100%; class="STYLE2 STYLE1"></span>');
              $(this).parent().parent().append($inputb);
              if($(this).val()=="")
                $inputb.html(" 点此修改");            
              else
                $inputb.html($(this).val());           
              $(this).remove();
              BindEvent();
            });
          });
        });

      }

    </script>

    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <!-- {{ static_url("images/login_03.gif") }} -->
              <td width="15" height="30"><img src="<%= asset_path("tab/images/tab_03.gif") %>" width="15" height="30" /></td>
              <td width="1101" background="<%= asset_path("tab/images/tab_05.gif") %>"><img src="<%= asset_path("tab/images/311.gif") %>" width="16" height="16" /> 
              <span class="STYLE4">
                  <%= yield :table_title %>
              </span></td>
              <td width="281" background="<%= asset_path("tab/images/tab_05.gif") %>"><table border="0" align="right" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="60"><table width="87%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td class="STYLE1"><div align="center">
                              <input type="checkbox" name="checkbox62" value="checkbox" />
                          </div></td>
                          <td class="STYLE1"><div align="center">全选</div></td>
                        </tr>
                    </table></td>
                    <td width="60"><table width="90%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td class="STYLE1"><div align="center"><img src="<%= asset_path("tab/images/001.gif") %>" width="14" height="14" /></div></td>
                          <td class="STYLE1"><div align="center"><a target='I1' id="table_new_row" href="#">新增</a></div></td>
                        </tr>
                    </table></td>
                    <td width="60"><table width="90%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td class="STYLE1"><div align="center"><img src="<%= asset_path("tab/images/114.gif") %>" width="14" height="14" /></div></td>
                          <td class="STYLE1"><div align="center">修改</div></td>
                        </tr>
                    </table></td>
                    <td width="52"><table width="88%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td class="STYLE1"><div align="center"><img src="<%= asset_path("tab/images/083.gif") %>" width="14" height="14" /></div></td>
                          <td class="STYLE1"><div align="center">删除</div></td>
                        </tr>
                    </table></td>
                  </tr>
              </table></td>
              <td width="14"><img src="<%= asset_path("tab/images/tab_07.gif") %>" width="14" height="30" /></td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="9" background="<%= asset_path("tab/images/tab_12.gif") %>">&nbsp;</td>
              <td bgcolor="#f3ffe3">

                <%= yield %>

              </td>
              <td width="9" background="<%= asset_path("tab/images/tab_16.gif") %>">&nbsp;</td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td height="29"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="15" height="29"><img src="<%= asset_path("tab/images/tab_20.gif") %>" width="15" height="29" /></td>
              <td background="<%= asset_path("tab/images/tab_21.gif") %>"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="25%" height="29" nowrap="nowrap"><span id='msg' class="STYLE1"></span></td>
                    <td width="75%" valign="top" class="STYLE1"><div align="right">
                        <table id='control' width="352" height="20" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td width="62" height="22" valign="middle"><div align="right"><img src="<%= asset_path("tab/images/first.gif") %>"  class='home' width="37" height="15" /></div></td>
                            <td width="50" height="22" valign="middle"><div align="right"><img src="<%= asset_path("tab/images/back.gif") %>" class='prev' width="43" height="15" /></div></td>
                            <td width="54" height="22" valign="middle"><div align="right"><img src="<%= asset_path("tab/images/next.gif") %>" class='next' width="43" height="15" /></div></td>
                            <td width="49" height="22" valign="middle"><div align="right"><img src="<%= asset_path("tab/images/last.gif") %>" class='last' width="37" height="15" /></div></td>
                            <td width="59" height="22" valign="middle"><div align="right">转到第</div></td>
                            <td width="25" height="22" valign="middle"><span class="STYLE7">
                                <input name="textfield" type="text" class="STYLE1" style="height:10px; width:25px;" size="5" />
                            </span></td>
                            <td width="23" height="22" valign="middle">页</td>
                            <td width="30" height="22" valign="middle"><img src="<%= asset_path("tab/images/go.gif") %>" class='goto' width="37" height="15" /></td>
                          </tr>
                        </table>
                    </div></td>
                  </tr>
              </table></td>
              <td width="14"><img src="<%= asset_path("tab/images/tab_22.gif") %>" width="14" height="29" /></td>
            </tr>
        </table></td>
      </tr>
    </table>
