<style type="text/css">
  .alert-success {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #468847;
  }
  .alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #C09853;
  }
</style>

<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag "application"%>

<script type="text/javascript">
  $(document).ready(function(){
    $("a.close").click(function(){
      $(this).parent().fadeOut();
      return false;
    })
  }
</script>
<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
    <a class="close" data-dismiss="alert" href="#">X</a>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-success">
    <%= flash[:alert] %>
    <a class="close" data-dismiss="alert" href="#">X</a>
  </div>
<% end %>
<% if flash[:error] %>
  <div class="alert alert-success">
    <%= flash[:error] %>
    <a class="close" data-dismiss="alert" href="#">X</a>
  </div>
<% end %>
<%= yield %>
